.form-content {
    padding: 20px;
}

.field{
    margin-bottom: 10px;
}

/* PAGE TITLE */
#pageTitle{
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    background-color: gainsboro;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
}

/* CLIENT-SIDE FORM VALIDATION */
/*
input:invalid, textarea:invalid, select:invalid{
    outline: 2px solid #f37e98;
    border-radius: 5px;
}
input:valid, textarea:valid, select:valid{
    background-color: #fbfbfb;
    outline: none;
}
*/

/* SUBMIT BUTTON FORMATTING */
button.btn.submit-btn {
    font-family: 'Architects Daughter', cursive;
    font-size: 15px;
    border-radius: 5px;
    background-color: gainsboro;
}
button.btn.submit-btn:hover {
    font-weight: bold;
}

/* PHONE SCREEN DISPLAY */
@media only screen and (min-width: 200px) and (max-width: 970px) {
    #pageContainer{
        position: fixed;
        background-color: #e3e5ed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 65px 0 0 0; /* this pads the content */
        overflow-y:scroll;
        overflow-x:hidden;
    }
}

/* COMPUTER SCREEN DISPLAY */
@media only screen and (min-width: 971px) {
    #pageContainer{
        position: fixed;
        background-color: #e3e5ed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 115px 0 0 240px; /* this pads the content */
        overflow-y:scroll;
        overflow-x:hidden;
    }
}